.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    gap: 1rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; 
}  
.carrousel_ecran {
    width: 100%;
    flex: none;
    scroll-snap-align: start;    
}  
.carrousel_ecran figure {
    margin: 0;  
} 
.carrousel {
    position: relative; 
    background-color: var(--noir); 
    border-style: solid;
    border-color: var(--noir);
    border-width: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.imgcar{
    width: 100%;
} 
.carousel-title{
    color: var(--blanc);
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
    font-size: var(--header-3);
    text-transform: uppercase;
}
.filmDes{
    color: var(--blanc);
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
    font-size: var(--body);
    padding: 20px 10px;
}