header {
    background-color: var(--jaune);
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-left: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    justify-content: space-between;
}
#wrap {
    font-family: sans-serif;
    position: fixed;
    height: 100%;
    font-size: 21px;
    line-height: 1.6;
    margin: 0;
    display: flex;
    color: var(--jaune);
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
}
  
#wrap:not(:target) {
    transform: translate3d(-360px, 0, 0);
}
  
#wrap:target {
    transform: translate3d(-25px, 0, 0);
}
  
#open,
#close {
    top: 0;
    height: 44px;
    text-align: right;
    display: block;
    margin-right: -30px;
    font-size: 80px;
    font-weight: 50;
}
  
#wrap:target #open,
#wrap:not(:target) #close {
    display: none;
}
  
#wrap:target #open {
    display: none;
}
  
.nav a {
    color: var(--noir);
    text-decoration: none;
    display: block;
}
  
.header {
    background: var(--jaune);
    width: 360px;
    padding: 0 20px;
    display:inline-block;
    vertical-align:top;
} 
.nav {
    padding: 15px;
}
#wrap rect{
    color: var(--noir);
}
.logosi{
    color: var(--noir);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    font-size: var(--title-error);
    padding: 20px 0px;
}
.menuLi{
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}


  
